root = true

[*]
end_of_line =              lf
insert_final_newline =     false
trim_trailing_whitespace = true
indent_style =             tab
indent_size =              4

[{.travis.yml,LICENSE}]
indent_style = space

[.travia.yml]
indent_size = 2

[LICENSE]
indent_size = 4

[{package.json,package-lock.json}]
insert_final_newline = true