:root {
	--background: url('../img/bg-1.jpg');
}

.large-header {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--background);
	background-size: cover;
	background-position: center center;
}

#source {
	position: fixed;
	bottom: 1%;
	right: 0.5%;
}

#links {
	position: relative;
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
	padding-bottom: 1rem;
}


#links::after {
	content: "";
	width: 150px;
	height: 1px;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: translateX(-50%);
}

#other-places a {
	margin-right: 2.5px;
	margin-left:  2.5px;
}

.fa-github:hover {
	color: #333;
}

.fa-gitlab:hover {
	color: #fc6d26;
}