body {
	background-color: rgb(61, 61, 61);
}

#source,
#back {
	opacity: 0;
}

#source.loaded,
#back.loaded {
	transition: opacity 1s linear, all 500ms ease;
	opacity: 1;
}

#source:not(.loaded) {
	cursor: default;
}

#source {
	position: fixed;
	bottom: 1%;
	right: 0.5%;
	font-weight: lighter;
}

#back-wrapper {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	filter: brightness(50%);
}

#links::after {
	width: 150px;
	height: 1px;
}

#other-places a {
	margin-right: 2.5px;
	margin-left:  2.5px;
}

.fa-github:hover {
	color: #333;
}

.fa-gitlab:hover {
	color: #fc6d26;
}