:root {
	--background: url();
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--background);
	background-size: cover;
	background-position: center center;
}

#source {
	position: fixed;
	bottom: 1%;
	right: 0.5%;
}

#source:not(.loaded) {
	display: none;
}

#links::after {
	width: 150px;
	height: 1px;
}

#other-places a {
	margin-right: 2.5px;
	margin-left:  2.5px;
}

.fa-github:hover {
	color: #333;
}

.fa-gitlab:hover {
	color: #fc6d26;
}