body {
	background-color: rgb(61, 61, 61);
}

#source,
#back {
	opacity: 0;
}

#source.loaded,
#back.loaded {
	transition: opacity 1s linear, color 500ms ease;
	opacity: 1;
}

#source:not(.loaded) {
	cursor: default;
}

#source {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
	text-align: right;
	font-weight: lighter;
}

#back {
	top: 0;
	left: 0;
	bottom: 100%;
	right: 100%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(50%);
}

.fa {
	margin: 0 2.5px;
}

.fa-github:hover {
	color: #333;
}

.fa-gitlab:hover {
	color: #fc6d26;
}

.fa-bitbucket:hover {
	color: #0052cc;
}