*,
*:after,
*:before {
	box-sizing: border-box;
	user-select: none;
}

html {
	height: 100%;
}

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: "Raleway", Calibri, Arial, sans-serif;
	min-height: 100%;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;
}

body > * {
	position: absolute;
}

body > .center {
	position: relative;
	text-align: center;
}

h1 {
	color: #f9f1e9;
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
	margin: 0;
}

h1 > .thin {
	font-weight: 200;
}

hr {
	margin: 1rem auto;
	width: 150px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.5);
	border-width: 0.5px;
}

h1 + hr {
	width: 300px;
	border-width: 1px;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	transition: color 500ms ease;
}

a:hover {
	color: rgba(255, 255, 255, 1.0);
}