body {
	max-width: 650px;
	margin: 40px auto;
	padding: 0 10px;

	font-family: Open Sans, Arial;
	font-size: 18px;
	line-height: 1.6;

	color: #444;
	background-color: white;
}

h1,
h2,
h3 {
	line-height: 1.2
}

@media (prefers-color-scheme: dark) {
	body {
		color: #bbb;
		background-color: #222;
	}

	a {
		color: white;
	}
}